fastapi
uvicorn
pydantic
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-community
langchain-openai
langchain-pinecone  
pinecone-client     
tavily-python
aiosqlite
python-dotenv
pypdf
mlflow
prometheus-client
python-multipart